<div class="info">
  <div class="body">
    <h1>Хотите, чтобы ваш друг чувствовал себя хорошо, пока вы в отъезде?</h1>
    <ul>
      <li><span class="glyphicon glyphicon-search" aria-hidden="true"></span>чтобы он жил в настоящем доме;</li>
      <li><span class="glyphicon glyphicon-search" aria-hidden="true"></span>чтобы ему было с кем играть;</li>
      <li><span class="glyphicon glyphicon-search" aria-hidden="true"></span>чтобы не оставался один.</li>
    </ul>

    <p>Несколько человек уже готовы взять именно вашу собаку к себе!</p>
  </div>

  <div class="email">
    <p><b>Оставьте свой email</b>, и мы оповестим вас о запуске сервиса по поиску таких людей:</p>
    <%= form_tag("saveemail", method: "post") do %>
      <input type="text" name="email" size="25" value="Введите email"/>
      <input type="submit" value="Узнать больше"/>
    <% end %>
  </div>
</div>
<div class="scare">
  <div class="hotel">
    <p>А в это время в гостиницах для собак:</p>
    <ul>
      <li><%= image_tag("hotel1.jpg") %></li>
      <li><%= image_tag("hotel2.jpg") %></li>
    </ul>

    <div class="note">фоторграфии взяты с <b>реальных</b> сайтов гостиниц</div>
  </div>
</div>