<div class="info">
  <div class="header">
    <h2>Не надо в гостиницу!</h2>
    <ul>
      <li>ко мне будут приходить только чтобы погулять и покормить;</li>
      <li>все остальное время я буду заперт в маленькой комнате один.</li>
    </ul>
  </div>

  <div class="body">
    <h1>Хотите, чтобы ваш друг чувствовал себя хорошо, пока вы в отъезде?</h1>
    <ul>
      <li>чтобы он жил в настоящем доме;</li>
      <li>чтобы ему было с кем играть;</li>
      <li>чтобы не оставался один.</li>
    </ul>

    <p>Несколько человек уже готовы взять именно вашу собаку к себе</p>
  </div>

  <div class="email">
    <p>Оставьте свой email и мы оповестим вас о запуске сервиса по поиску таких людей</p>
  </div>
</div>