body {
  color: #445577;
}

.info, .scare {
  margin-top: 1%;
  margin-right: 3%;
  margin-left: 33%;
  padding: 1% 3% 3% 3%;
  background-color: #DDEEEE;
  opacity: 0.8;

  .body {
    h1 {
      font-size: 2.4rem;
      line-height: 2.4rem;
    }
  }

  ul {
    list-style-type: none;
  }
}

.info {
  padding-top: 20px;
}

.scare {
  color: #BFC9CC;
  margin-top: 1%;
  background-color: #45353E;

  ul {
    display: flex;
    li {
      padding-right: 1%;
    }
  }

  .note {
    font-size: 1.4rem;
    b {
      font-size: 1.4rem;
    }
  }
}
